1	VERSIONINFO
	FILEVERSION 0,0,2,5
	PRODUCTVERSION 0,0,2,5
	FILEOS 4
	FILETYPE 2
{
	BLOCK "StringFileInfo"
	{
		BLOCK "000004B0"
		{
			VALUE "CompanyName", "Yuri Khan"
			VALUE "FileDescription", "QuickSearch FAR plugin (Unicode)"
			VALUE "FileVersion", "0.0.2.5"
			VALUE "InternalName", "quicksearch"
			VALUE "OriginalFilename", "quicksearch.dll"
			VALUE "ProductName", "QuickSearch"
			VALUE "ProductVersion", "0.0.2.5"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0000, 1200
	}
}
