#include <windows.h>

1	VERSIONINFO
	FILEVERSION 0,0,0,0
	PRODUCTVERSION 0,0,0,0
	FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
	FILEFLAGS 0
	FILEOS VOS_NT_WINDOWS32
	FILETYPE VFT_DLL
	FILESUBTYPE 0
BEGIN
	BLOCK "StringFileInfo"
	{
		BLOCK "0x040904B0"
		{
			VALUE "CompanyName", "Yuri Khan"
			VALUE "FileDescription", "QuickSearch FAR plugin (Unicode)"
			VALUE "FileVersion", "0.0.0"
			VALUE "InternalName", "quicksearch"
			VALUE "OriginalFilename", "quicksearch.dll"
			VALUE "ProductName", "QuickSearch"
			VALUE "ProductVersion", "0.0.0"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 1200
	}
END
