a img
{
  border: none;
}
h2
{
  clear: both;
  border-top: solid 1px black;
}
li.feature
{
  list-style-type: disc;
}
li.bugfix
{
  list-style-type: circle;
}
li.modification,
li.performance
{
  list-style-type: square;
}
